html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

.btn:hover {
  color: #ff5e3a;
}

.btn-wrapper a {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, .75);
  border-width: 3px;
}

.btn-wrapper a:hover {
  background-color: #fff;
  border-color: rgba(255, 255, 255, .75);
  border-width: 3px;
}

.space-bubbles,
.super-domes {
  border-bottom: rgba(255, 255, 255, .25) 3px solid;
}

svg {
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .space-bubbles,
  .super-domes {
    border-right: rgba(255, 255, 255, .25) 3px solid;
    border-bottom: none;
  }

}
