@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Overpass", sans-serif;
  color: #fff;
}

body {
  background: linear-gradient(#ff9500, #ff5e3a);
}

.btn-wrapper a {
  color: #fff;
  background-color: none;
  border-color: #fff;
}
